<p style="color: green"><%= notice %></p>

<div id="coordinators">
  <h2>Coordinators</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @coordinators.each do |coordinator| %>
        <tr>
          <td><%= coordinator.name %></td>
          <td><%= coordinator.email %></td>
          <td><%= coordinator.phone_number %></td>
          <td><%= link_to "Show", coordinator %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New coordinator", new_coordinator_path %>
