<p style="color: green"><%= notice %></p>

<%= render @coordinator %>

<div>
  <%= link_to "Edit", edit_coordinator_path(@coordinator) %> |
  <%= link_to "Back", coordinators_path %> |
  <%= link_to "Destroy", @coordinator, method: :delete %>
</div>
