<p style="color: green"><%= notice %></p>

<div id="registries">
  <h2>Registries</h2>
  <%= link_to "New registry", new_registry_path %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @registries.each do |registry| %>
        <tr>
          <td><%= registry.name %></td>
          <td><%= registry.location %></td>
          <td><%= link_to "Show", registry %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

