<div id="<%= dom_id enrollment %>">
  <p>
    <strong>Date of enrollment:</strong>
    <%= enrollment.date_of_enrollment %>
  </p>

  <p>
    <strong>Method of contact:</strong>
    <%= enrollment.method_of_contact %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= enrollment.remarks %>
  </p>

  <p>
    <strong>Coordinator:</strong>
    <%= enrollment.coordinator_id %>
  </p>

  <p>
    <strong>Registry:</strong>
    <%= enrollment.registry_id %>
  </p>

  <p>
    <strong>Participant:</strong>
    <%= enrollment.participant_id %>
  </p>

</div>
