<div class="row">
  <div class="col-6">
    <%= form_with(model: enrollment) do |form| %>
      <% if enrollment.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

          <ul>
            <% enrollment.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :date_of_enrollment, style: "display: block" %>
        <%= form.date_field :date_of_enrollment, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :method_of_contact, style: "display: block" %>
        <%= form.select :method_of_contact, contact_method_options %>
      </div>
 
      <div class="form-group">
        <%= form.label :remarks, style: "display: block" %>
        <%= form.text_area :remarks, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :coordinator_id, style: "display: block" %>
        <%= form.select :coordinator_id, coordinator_options, { multiple: true } %>
      </div>

      <div class="form-group">
        <%= form.label :registry_id, style: "display: block" %>
        <%= form.select :registry_id, registry_options, { multiple: true } %>
      </div>

      <div class="form-group">
        <%= form.label :participant_id, style: "display: block" %>
        <%= form.select :participant_id, participant_options, { multiple: true } %>
      </div>
      <br>
      <div class="form-group">
        <%= form.submit 'Submit', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="col-6">
  </div>
</div>
